:root {
    --primary-text-color: #212121;
    --accent-color: #2196F3;
    --white-color: #fff;
    --black-color: #000;
    --secondary-color: #757575;
    --rare-grey-color: #F5F4FA;
    --primary-background-color: #2F303A
}

body {
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}


img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.link {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.logo {
    margin-right: 93px;
    color: var(--black-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;

}

.logo--accent {
    color: var(--accent-color);
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.section {
    padding: 94px 0;
}

.activities {
    padding-top: 0;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms linear, visibility 250ms linear;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 8px;
    width: 528px;
    height: 581px;
    background: var(--white-color);
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-btn {
    margin-left: auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    cursor: pointer;
    color: black;
}

.modal__close-icon {
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-btn:hover .modal__close-icon,
.modal__close-btn:focus .modal__close-icon {
    fill: var(--accent-color);
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}

/* Site Navigation */

.page-header {
    position: relative;
    border-bottom: 1px solid #ECECEC;
}

.container--flex {
    display: flex;
}

.page-header__nav {
    display: flex;
    margin-right: auto;
    align-items: center;
}

.site-nav {
    position: relative;
    display: flex;
    text-align: center;
}

.header-contacts {
    display: flex;
    align-items: center;
}

.site-nav__link {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.14;
    display: block;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.header-contacts__link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:active,
.site-nav__link:hover,
.site-nav__link:focus,
.header-contacts__link:hover,
.header-contacts__link:focus{
    color: var(--accent-color);
}

.site-nav__link--active {
    color: var(--accent-color);
    
}

.site-nav__link--active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
}

.site-nav__item:not(:last-child),
.header-contacts__item:not(:last-child) {
    margin-right: 50px;
}

.header-contacts__envelope-icon {
    fill: currentColor;
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts__smartphone-icon {
    fill: currentColor;
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts__link:hover .header-contacts__envelope-icon,
.header-contacts__link:focus .header-contacts__envelope-icon,
.header-contacts__link:hover .header-contacts__smartphone-icon,
.header-contacts__link:focus .header-contacts__smartphone-icon {
    fill: var(--accent-color);
}


/* Hero */

.hero {
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: 
    linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
}

.hero__title {
    width: 696px;
    margin: 0 auto 30px;
    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
}

.hero__button {
    display: block;
    margin: 30px auto 0;
    min-width: 216px;
    height: 50px;
    background-color: var(--accent-color);
    color: var(--white-color);
    border-radius: 4px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
}

/* Features list */

.section__title {
    margin-bottom: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
}

.features-list,
.activities-list,
.team-list {
    display: flex;
    gap: 30px;
}

.features-list__item,
.team-list__item {
    width: calc((100% - 60px)/4);
}

.features-list__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}

.features-list__item::before {
    content: '';
    display: block;
    height: 120px;
    background-size: 70px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--rare-grey-color);
    margin-bottom: 30px;
}

.icon-antenna::before {
    background-image: url(../images/antenna.svg);
}

.icon-clock::before {
    background-image: url(../images/clock.svg);
}

.icon-diagram::before {
    background-image: url(../images/diagram.svg);
}

.icon-astronaut::before {
    background-image: url(../images/astronaut.svg);
}

.features-list__text {
    color: var(--secondary-color);
    line-height: 1.71;
}

/* Activities list */

.activities-list__item {
    position: relative;
    width: calc((100% - 60px)/3);
}

.activities-list__descr {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 370px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
}

/* Teams list */

.team {
    background-color: var(--rare-grey-color);
}

.team-list__descr {
    padding-top: 30px;
    padding-bottom: 30px;   
}

.team-list__text {
    margin-bottom: 16px;
    text-align: center;
    color: var(--secondary-color);
    font-size: 16px;
    line-height: 1.19;
}

.team-list__name {
    margin-bottom: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.team-list__item {
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-soc-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.team-soc-list__item {
    width: 44px;
    height: 44px;
}

.team-soc-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    color: #AFB1B8;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-list__icon {
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-list__link:hover,
.team-soc-list__link:focus {
    background-color: var(--accent-color);
}

.team-soc-list__link:hover .team-soc-list__icon,
.team-soc-list__link:focus .team-soc-list__icon {
    fill: var(--white-color);
}

/* Clients List */

.clients-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.clients-list__item {
    width: 170px;
    height: 92px;
}

.clients-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    color: #AFB1B8;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__icon {
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover,
.clients-list__link:focus {
    border: 1px solid var(--accent-color);
}

.clients-list__link:hover .clients-list__icon,
.clients-list__link:focus .clients-list__icon {
    fill: var(--accent-color);
}


/* Footer */

.page-footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--primary-background-color);
}

.page-footer__contacts {
    margin-top: 20px;
}

.page-footer__logo {
    color: var(--white-color);    
}

.contacts-list__item + .contacts-list__item {
    margin-top: 9px;
}

.contacts-list__address {
    color: var(--white-color);
    font-style: normal;
    line-height: 1.15;
    text-decoration: none;
}

.contacts-list__mail,
.contacts-list__tel {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    line-height: 1.15;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list__mail:hover,
.contacts-list__tel:hover,
.contacts-list__mail:focus,
.contacts-list__tel:focus {
    color: var(--accent-color);
}

.container--baseline {
    display: flex;
    align-items: baseline;
}

.page-footer__address {
    margin-right: 70px;
}

.page-footer__action-text {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
}

.footer-soc-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.footer-soc-list__item {
    width: 44px;
    height: 44px;
}

.footer-soc-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    color: var(--white-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-list__icon {
    fill: currentColor;
}

.footer-soc-list__link:hover,
.footer-soc-list__link:focus {
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.page-footer__form-thumb {
    margin-left: auto;
}

.footer-form {
    display: flex;
    gap: 12px;
}

.footer-form__input {
    width: 358px;
    height: 50px;
    padding-top: 15px; 
    padding-bottom: 15px;
    padding-left: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: transparent;
}

.footer-form__input::placeholder {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
     color: rgba(255, 255, 255, 0.6);
}

.footer-form__btn {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    height: 50px;
    background-color: var(--accent-color);
    color: var(--white-color);
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
}

/* Portfolio Page*/

.filter {
    display: flex;
    justify-content: center;
}

.filter__item {
    margin-right: 8px;
}

.filter__button {
    padding: 6px 22px;
    background-color: var(--rare-grey-color);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:hover,
.filter__button:focus {
    background-color: var(--accent-color);
    color: var(--white-color);
    font-family: inherit;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.projects__item {
    width: calc((100% - 60px)/3);
}

.projects__link {
    display: block;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__link:hover,
.projects__link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__thumb {
    position: relative;
    overflow: hidden;
}

.projects__text-hidden {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 63px 24px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--white-color);
    background-color: rgba(33, 150, 243, 0.9);
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
}

.projects__item:hover .projects__text-hidden,
.projects__item:focus .projects__text-hidden{
    transform: translateY(0);
}

.projects-main {
    margin-top: 50px;
}

.projects__descr {
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
    border: 1px solid #EEEEEE;
    border-top: 0;
}

.projects__title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}

.projects__text {
    color: var(--secondary-color);
    font-size: 16px;
    line-height: 1.9;
}

/* Modal-form styles */

.form-modal {
    width: 448px;
    margin-left: auto;
    margin-right: auto;
}

.form-modal__text {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 12px;
}

.form-modal__label {
    display: block;
    margin-bottom: 4px;
    display: block;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--secondary-color);
}

.form-modal__checkbox-descr {
    display: inline-block;
    text-align: center;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}

.form-modal__checkbox-label {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-modal__checkbox-icon {
    margin-right: 7px;
    width: 16px;
    height: 15px;
    border: 2px solid #000000;
    border-radius: 2px;
    cursor: pointer;
    fill: transparent;
}
    
.form-modal__checkbox:checked + .form-modal__checkbox-icon {
    fill: var(--white-color);
    background-color: var(--accent-color);
    border: none;
}

.policy {
    position: relative;
    color: var(--accent-color);
}

.form-modal__field {
    display: block;
    position: relative;
    margin-bottom: 10px;
}

.form-modal__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    display: inline-block;
    fill: var(--primary-text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.form-modal__field:focus-within .form-modal__icon {
    fill: var(--accent-color)
}

.form-modal__input {
    padding: 11px 12px 11px 42px;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal__input:focus {
    border-color: var(--accent-color);
}

.form-modal__textarea {
    padding: 12px 16px;
    max-width: 448px;
    min-height: 120px;
    resize: none;
}

.form-modal__input::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.policy::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    background-color: var(--accent-color);
    width: 113px;
    height: 1px;
}

.form-modal__btn {
    display: block;
    margin: 30px auto auto;
    min-width: 200px;
    height: 50px;
    background-color: var(--accent-color);
    color: var(--white-color);
    border-radius: 4px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
}