.features-list {
    // @extend %list;
    @include tablet {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    };

    @include desctop {
        display: flex;
        gap: 30px;
    }
}

.features-list__item {
    width: 100%;
    &:not(:last-child) {
        margin-bottom: 30px;};

    @include tablet {
        width: calc((100% - 30px)/2);
    };

    @include desctop {
        width: calc((100% - 90px)/4);
    };

    &::before {
    content: '';
    display: block;
    height: 120px;
    background-size: 70px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--rare-grey-color);
    margin-bottom: 30px;
}
}

.features-list__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}

.icon-antenna::before {
    background-image: url(../images/antenna.svg);
}

.icon-clock::before {
    background-image: url(../images/clock.svg);
}

.icon-diagram::before {
    background-image: url(../images/diagram.svg);
}

.icon-astronaut::before {
    background-image: url(../images/astronaut.svg);
}

.features-list__text {
    color: var(--secondary-color);
    line-height: 1.71;
}