.page-header {
    position: relative;
    border-bottom: 1px solid #ECECEC;
}

.page-header__container {
    display: flex;
}

.page-header__nav {
    display: flex;
    margin-right: auto;
    align-items: center;

    @media (max-width: 767px) {
        min-height: 60px;
    }
}

.site-nav {
    position: relative;
    display: flex;
    text-align: center;

    @media (max-width: 767px) {
        display: none;
    }

    @media (min-width: 768px) {
        margin-left: 88px;
    }

    @media (min-width: 1200px) {
        margin-left: 93px;
    }
}

.header-contacts {
    display: flex;

    @media screen and (max-width: 767px) {
        display: none;
    };

    @media screen and (min-width: 768px) {
        align-content: center;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    };

    @media screen and (min-width: 1200px) {
        align-content: normal;
        align-items: center;
        flex-direction: row;
        gap: 0px;
    }
}

.site-nav__link {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.14;
    display: block;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:active,
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}


.header-contacts__link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.site-nav__link--active {
    color: var(--accent-color);

    &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
}
}

.site-nav__item:not(:last-child) {

    @media screen and (min-width: 768px) {
        margin-right: 50px;
    }
}

.header-contacts__item:not(:last-child) {
    
    @media screen and (min-width: 1200px) {
        margin-right: 50px;
    }
}



.header-contacts__envelope-icon {
    fill: currentColor;
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .header-contacts__link:hover &,
    .header-contacts__link:focus & {
        fill: var(--accent-color);
    }
}

.header-contacts__smartphone-icon {
    fill: currentColor;
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .header-contacts__link:hover &,
    .header-contacts__link:focus & {
        fill: var(--accent-color);
    }
}