.hero {
    max-width: 480px;
    margin: 0 auto;
    padding-top: 118px;
    padding-bottom: 118px;
    background-image:
        linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and (min-width: 768px) {
        max-width: 768px;
        background-image:
        linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-tablet.jpg);
    }

    @media screen and (min-width: 1200px) {
        max-width: 1600px;
        padding-top: 200px;
        padding-bottom: 200px;
        background-image:
        linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero.jpg);
    }
}

.hero__title {
    max-width: 360px;
    margin: 0 auto 30px;
    color: var(--white-color);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;

    @media screen and (min-width: 1200px) {
        max-width: 696px;
        font-size: 44px;
        line-height: 1.36;
    }
}

.hero__button {
    @extend %button;
    display: block;
    margin: 30px auto 0;
    min-width: 200px;
    height: 50px;

    @media screen and (min-width: 1200px) {
        min-width: 216px;
    }
}