.hero {
    max-width: 480px;
    margin: 0 auto;
    padding-top: 118px;
    padding-bottom: 118px;
    background-image:
        var(--hero-grdnt),
        url(../images/hero-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image:
                var(--hero-grdnt),
                url(../images/hero-mobile2x.jpg);
    };

    @include tablet {
        max-width: 768px;
        background-image:
        var(--hero-grdnt),
        url(../images/hero-tablet.jpg);
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image:
                    var(--hero-grdnt),
                    url(../images/hero-tablet2x.jpg);
            }
    };

    @include desctop {
        max-width: 1600px;
        padding-top: 200px;
        padding-bottom: 200px;
        background-image:
        var(--hero-grdnt),
        url(../images/hero.jpg);
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image:
                    var(--hero-grdnt),
                    url(../images/hero2x.jpg);
            }
    }
}

.hero__title {
    max-width: 360px;
    margin: 0 auto 30px;
    color: var(--white-color);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;

    @include desctop {
        max-width: 696px;
        font-size: 44px;
        line-height: 1.36;
    }
}

.hero__button {
    @extend %button;
    display: block;
    margin: 30px auto 0;
    min-width: 200px;
    height: 50px;

    @include desctop {
        min-width: 216px;
    }
}