.page-header__menu-toggle {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;  
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: var(--primary-text-color);

    @media screen and (min-width: 768px) {
        display: none;
    };
}

.page-header__mob-menu {  
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: var(--white-color);

    // & .icon-cross {
    //     display: none;
    // };

    // &.is-open {
    //     .icon-cross {
    //      display: block;
    //    } 
    // };

    // &.is-open {
    //     .icon-menu {
    //      display: none;
    //     } 
    // }
}

.page-header__menu-close {
    position: absolute;
    top: 10px;
    right: 15px;
    margin-left: auto;
    padding: 0;
    display: flex;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: var(--primary-text-color);

    @media screen and (min-width: 768px) {
        display: none;
    };
}

.js-open-menu {}

.page-header__menu-btn {}

.icon-cross {}

.page-header__mob-nav {}

.mob-nav {
    margin-bottom: 302px;
}

.mob-nav__item {
    margin-bottom: 32px;
}

.mob-nav__link {
    font-weight: 500;
    font-size: 40px;
    line-height: calc(47/40);
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.mob-nav__link--active {
    color: var(--accent-color) ;
}

.mob-contacts {
    margin-bottom: 64px;
}

.mob-contacts__item {
    margin-bottom: 32px;
}

.mob-contacts__link {
    font-weight: 500;
    font-size: 34px;
    line-height: calc(40/34);
    letter-spacing: 0.02em;
    color: var(--accent-color)
}

.mob-mail__link {
    font-weight: 500;
    font-size: 24px;
    line-height: calc(28/24);
    letter-spacing: 0.02em;
    color: var(--secondary-color);
}

.mob-social {}

.mob-social__item {}

.mob-social_link {}