.page-header__menu-toggle {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;  
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: var(--primary-text-color);

    @media screen and (min-width: 768px) {
        display: none;
    };
}

.page-header__mob-menu {  
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    padding-top: 10px;
    padding-bottom: 48px;
    padding-left: 40px;
    padding-right: 15px;
    background-color: var(--white-color);
    transform: translate(200%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);;

    &.is-open {
        transform: translateX(0);
    };

    &.container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: auto;
    }
}

.page-header__menu-close {
    top: 0;
    right: 0;
    margin-left: auto;
    padding: 0;
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    fill: var(--primary-text-color);

    @media screen and (min-width: 768px) {
        display: none;
    };
}

.page-header__menu-btn {
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        .page-header__menu-close:hover &,
        .page-header__menu-close:focus & {
            fill: var(--accent-color);
        }
}


.mob-nav {
    margin-bottom: 302px;
}

.mob-nav__item:not(:last-child) {
    margin-bottom: 32px;
}

.mob-nav__link {
    font-weight: 500;
    font-size: 40px;
    line-height: calc(47/40);
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.mob-nav__link--active {
    color: var(--accent-color) ;
}

.mob-contacts {
    margin-bottom: 64px;
}

.mob-contacts__item:not(:last-child) {
    margin-bottom: 32px;
}

.mob-contacts__link {
    font-weight: 500;
    font-size: 34px;
    line-height: calc(40/34);
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

.mob-mail__link {
    font-weight: 500;
    font-size: 24px;
    line-height: calc(28/24);
    letter-spacing: 0.02em;
    color: var(--secondary-color);
}

.mob-social {
    display: flex;
    gap: 20px;
}

.mob-social__item {
    position: relative;
    &:not(:last-child):after {
            content: '';
            position: absolute;
            top: 50%;
            width: 22px;
            height: 1px;
            border: 1px solid rgba(33, 33, 33, 0.2);
            transform: rotate(90deg);
        }
}

.mob-social_link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}