.filter {
    display: flex;
    justify-content: center;
}

.filter__item {
    margin-right: 8px;
}

.filter__button {
    padding: 6px 22px;
    background-color: var(--rare-grey-color);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    background-color: var(--accent-color);
    color: var(--white-color);
    font-family: inherit;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.projects__item {
    width: calc((100% - 60px)/3);
}

.projects__link {
    display: block;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.projects__thumb {
    position: relative;
    overflow: hidden;
}

.projects__text-hidden {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 63px 24px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--white-color);
    background-color: rgba(33, 150, 243, 0.9);
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;

    .projects__item:hover &,
    .projects__item:focus & {
        transform: translateY(0);
    }
}

.projects-main {
    margin-top: 50px;
}

.projects__descr {
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
    border: 1px solid #EEEEEE;
    border-top: 0;
}

.projects__title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}

.projects__text {
    color: var(--secondary-color);
    font-size: 16px;
    line-height: 1.9;
}