:root {
    --primary-text-color: #212121;
    --accent-color: #2196F3;
    --white-color: #fff;
    --black-color: #000;
    --secondary-color: #757575;
    --rare-grey-color: #F5F4FA;
    --primary-background-color: #2F303A
}